<a href="https://colab.research.google.com/github/Jianhuilim/projecteuler/blob/main/Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

* comment
* input and output
* data types - int, float, str, bool
* variables + assignment
* operators - math/arithmetic, logical (and, or, not), comparison (==, !=, >, )
* conditionals - if-else, nested
* loops - for, while
* 
# Loops (in general)
- for (fixed number of times)
- while (0 or more times)
- repeat - until (not supported in Python) (at least once)

## **Exercise**
Think of a first program involving input-process-output that you would use to introduce Python to your students.

In [ ]:
"""number of pairs of legs centipede has will depend on the input of the user
the centipede has a pair of feelers on the head

number of pairs of legs must be an integer between 4 and 50"""

pairs = input()

while int(pairs) < 4 or int(pairs) > 50:
  pairs = input()

print(" \/ ")
print("  O ")

for i in range(int(pairs)):
  print(" <O>")

print("  O ")

3
2
52
10
 \/
  O
 <O>
 <O>
 <O>
 <O>
 <O>
 <O>
 <O>
 <O>
 <O>
 <O>
  O

In [ ]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (1, 11, 1):
  if i%2 == 1: # odd
    print(i)

1
3
5
7
9

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i +  # i += 1

0
1
2
3
4


# Programming Style
Meaningful Identified names
*   Meaningful identified names
*   Appropriate comments
*   Appropriate use of white space

In [ ]:
# BMI Calculator

# Input
name = input("Enter name: ") # str
weight = int(input ("Enter weight (kg): ")) # int
height = float(input("Enter height(m): ")) # float

# process
bmi = weight / (height * height)

# output
print(name, bmi)

Enter name: James
Enter weight (kg): 60
Enter height(m): 1.7
James 20.761245674740486

In [ ]:
# conditionals

if bmi < 18.5:
  print("malnutrition")
elif bmi < 23:
  print("normal")
elif bmi < 27.5:
  print("moderate risk")
else: # bmi > 27.5
  print("high risk")

normal

In [ ]:
# conditionals

if bmi < 18.5:
  print("malnutrition")
if 18.5 <= bmi < 23:
  print("normal")
if 23 <= bmi < 27.5:
  print("moderate risk")
else: # bmi > 27.5
  print("high risk")

In [ ]:
a = 2
b = 3

if a > b:
  print("a bigger")
elif a < b:
  print ("a smaller")
else: # a==b
  print("equal")

a smaller

In [ ]:
a = 2
b = 3

if a > b:
  print("a bigger")
if a < b:
  print ("a smaller")
if a == b:
  print("equal")

In [ ]:
# Restaurant Bill Generator

# Input

# Process

# Output

Lists
Python's name for array
organised collection of data where items are stored in contiguous locations in memory
operations: declare/initialise, insert, remove, update, transverse

In [ ]:
#declare/initialise

bmis = []
print(bmis)

bmis = [20.5, 23.7, 16.2]
print(bmis)
rojak = [123, 3.14, "tim", True]
print(rojak)

[]
[20.5, 23.7, 16.2]
[123, 3.14, 'tim', True]

In [ ]:
print(bmis[2])
print(bmis[len(bmis)-1])
print(bmis[-1])

16.2
16.2
16.2

In [ ]:
#slicing operation
print(bmis[1:len(bmis)]) # bmis[1:3] #second entry, and exclusive of third
print(bmis[1:])

print(bmis[0:2])
print(bmis[:2])

[23.7, 16.2]
[23.7, 16.2]

In [ ]:
for i in range(len(bmis)):
  print(bmis[i], end=' ') #leave a space after each number
  print() #print('\n')  print on new line

20.5
23.7
16.2

In [ ]:
for i in range(len(bmis)-1):
  print(bmis[i], end=' ')
  print(bmis[-1])

20.5 16.2
23.7 16.2

In [ ]:
# insert to end
bmis.appen(18.88)
print(bmis)

In [ ]:
# insert to anywhere
bmis.insert(0,111)
print(bmis)

In [ ]:
# insert to using index
bmis.insert(3,555)
print(bmis)

In [ ]:
# delete from end
bmis.pop()
print(bmis)

In [ ]:
# delete from anywhere 
bmis.remove(99.99) #remove the first occurence of the number
print(bmis)

In [ ]:
# delete using index
del bmis[0] #remove from first position
print(bmis)

In [ ]:
# update
bmis[0] = 88.88 #update value in first position
print(bmis)

In [ ]:
print(bmis[-2]) #print second number from the right

In [ ]:
#strings

message = 'abcde' #"abcde" or '''abcde''' or """abcde"""
print(message)

In [ ]:
for i in range(len(message)):
  print(message[i], end='')

In [ ]:
for char in message:
  print(char, end='')

In [ ]:
message.isalpha

In [ ]:
# print() #print one blank line
# print(\n) #print 2 blank lines
print("\nGood \nmorning")

Good
morning

Functions
- reusable subprogram
- built in vs user defined

In [ ]:
import random
for i in range(5): # to simulate 5 times
  print(random.randint(1,6)) #pseudo random

IndentationError: ignored

In [ ]:
import math
print(math.pi)

3.141592653589793

In [ ]:
from math import * #* is a wild card that indicates import everything
print (pi)

3.141592653589793

In [ ]:
def greet():   #invent a function
  print("hello") 

# main
for i in range (7): #repeat 7 times
  print(greet()) #will include none if you include print command

In [ ]:
def greet():   #invent a function
  return("hello")

# main
for i in range (7): #repeat 7 times
  print(greet())

hello
hello
hello
hello
hello
hello
hello

In [ ]:
def is_prime(n):
  for i in range(2, n-1):
    if n % i == 0:
      return False
    return True
  
  # main
  # print(is_prime(5))
  # print(is_prime(9))
  for i in range (11, 21):
    print(i, is_prime(i))