<a href="https://colab.research.google.com/github/Jianhuilim/projecteuler/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python
get input
process
output result

In [4]:
# get input (comments)
name = input("Enter name: ")

# process
name = name.upper()

# output result
print(name)

In [ ]:
# Calculate BMI (body mass index)

# get weight 
weight = int(input("Enter weight (kg): ")) # integer
# get height
height = float(input("Enter height (m): ")) # float

# compute bmi
bmi = weight / (height * height)

# output bmi
print(bmi)

Shortcut for multiple line comment - Ctrl /

In [ ]:
# Multiples of 3 or 5 
# Problem 1
# If we list all the natural numbers below 10 that are multiples of 3 or 5, 
# we get 3, 5, 6 and 9. The sum of these multiples is 23.
# Find the sum of all the multiples of 3 or 5 below 1000.

# process


# output

In [ ]:
9 / 4 # true division

In [ ]:
9 // 4 # integer division

In [ ]:
3 ** 4

In [ ]:
 8 % 3 # modulus

In [ ]:
8 % 4

In [ ]:
8 % 4 == 0 # boolean

In [ ]:
8 % 3 == 0

In [ ]:
if 8 % 3 == 0: # 9 is multiple of 3
  print("multiple")
else:
  print("not divisible")

In [ ]:
num = 6

if num % 3 == 0: # divisible
  print("divisible")
else:
  print("not divisible")

In [ ]:
for i in range(0, 5):
  print(i)

In [ ]:
total = 0

for i in range(1, 1000):
  # print(i)
  if (i % 3 == 0) or (i % 5 == 0): # divisible because zero remainder
    total = total + i # assignment

print(total)